<div class="share-container">
  <a
    href="https://api.whatsapp.com/send?text={{post.title}}%0A{{protocol}}://{{site_domain}}{{post.get_absolute_url}}%0A{{post.image.url}}"
    target="_blank"
    class="pop share-icon"
  >
    <i class="fab fa-whatsapp"></i>
  </a>

  <a
    href="https://www.linkedin.com/shareArticle?mini=true&title={{post.title}}&url={{protocol}}://{{site_domain}}{{post.get_absolute_url}}&media={{post.image.url}}&description="
    target="_blank"
    class="pop share-icon"
  >
    <i class="fab fa-linkedin"></i>
  </a>

  <a onclick="shareToFacebook()" class="pop share-icon">
    <i class="fab fa-facebook"></i>
  </a>

  <a onclick="shareToTwitterWithImage()" class="pop share-icon">
    <i class="fab fa-twitter"></i>
  </a>

  <a
    href="https://pinterest.com/pin/create/button/?url={{protocol}}://{{site_domain}}{{post.get_absolute_url}}&media={{post.image.url}}&description={{post.title}}"
    target="_blank"
    class="pop share-icon"
  >
    <i class="fab fa-pinterest"></i>
  </a>

  <a
    href="https://www.quora.com/profile/Newzfox-Updates/?url={{post.title}}%0A{{protocol}}://{{site_domain}}{{post.get_absolute_url}}%0A{{post.image.url}}"
    target="_blank"
    class="pop share-icon"
  >
    <i class="fab fa-quora"></i>
  </a>

  <a onclick="copyTitleUrlImageToClipboard()" class="pop share-icon">
    <i class="fas fa-clipboard"></i>
  </a>
</div>

<script>
  function shareToFacebook() {
    var postTitle = encodeURIComponent("{{post.title}}");
    var postUrl = encodeURIComponent(
      "{{protocol}}://{{site_domain}}{{post.get_absolute_url}}"
    );

    var facebookShareUrl =
      "https://www.facebook.com/sharer/sharer.php?u=" + postUrl;

    window.open(facebookShareUrl, "_blank", "width=600,height=400");
  }

  function shareToTwitterWithImage() {
    var postTitle = encodeURIComponent("{{post.title}}");
    var postUrl = encodeURIComponent(
      "{{protocol}}://{{site_domain}}{{post.get_absolute_url}}"
    );

    var twitterShareUrl =
      "https://twitter.com/intent/tweet?text=" + postTitle + "&url=" + postUrl;

    window.open(twitterShareUrl, "_blank", "width=600,height=400");
  }

  function copyTitleUrlImageToClipboard() {
    var postTitle = "{{post.title}}";
    var postUrl = "{{protocol}}://{{site_domain}}{{post.get_absolute_url}}";
    var postImageUrl = "{{post.image.url}}";

    var clipboardContent = postTitle + "\n" + postUrl + "\n" + postImageUrl;

    var textField = document.createElement("textarea");
    textField.value = clipboardContent;
    document.body.appendChild(textField);
    textField.select();

    try {
      document.execCommand("copy");
    } catch (err) {
      console.error("Unable to copy to clipboard");
    }

    textField.remove();
  }
</script>
